# Introduction to skikit-learn

In [2]:
## 1.get data ready
import numpy as np
import pandas as pd
heart_disease = pd.read_csv('heart-disease.csv')

In [3]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [8]:
X = heart_disease.drop('target', axis=1)
y = heart_disease['target']

In [6]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [7]:
Y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

## 2.Choose the right model and hyperparameters

In [9]:
from sklearn.ensemble import RandomForestClassifier

In [19]:
clf = RandomForestClassifier(n_estimators=100)

In [13]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [14]:
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

## 3. Fit the model to the training data

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [20]:
clf.fit(X_train, y_train)

RandomForestClassifier()

In [22]:
y_preds = clf.predict(X_test)

In [21]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
18,43,1,0,150,247,0,1,171,0,1.5,2,0,2
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2
263,63,0,0,108,269,0,1,169,1,1.8,1,2,2
285,46,1,0,140,311,0,1,120,1,1.8,1,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1
254,59,1,3,160,273,0,0,125,0,0.0,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
140,51,0,2,120,295,0,0,157,0,0.6,2,0,2
211,61,1,0,120,260,0,1,140,1,3.6,1,1,3

In [23]:
y_preds

array([1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 0], dtype=int64)

In [24]:
y_test

2      1
18     1
19     1
263    0
285    0
      ..
5      1
254    0
3      1
140    1
211    0
Name: target, Length: 91, dtype: int64

## 4. Evaluate the model

In [25]:
clf.score(X_train, y_train)

1.0

In [27]:
clf.score(X_test, y_test)

0.8351648351648352

In [29]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [30]:
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.84      0.83      0.84        46
           1       0.83      0.84      0.84        45

    accuracy                           0.84        91
   macro avg       0.84      0.84      0.84        91
weighted avg       0.84      0.84      0.84        91

In [31]:
confusion_matrix(y_test, y_preds)

array([[38,  8],
       [ 7, 38]], dtype=int64)

In [32]:
accuracy_score(y_test, y_preds)

0.8351648351648352

## 5. improve the models

In [40]:
np.random.seed(42)
for i in range(10,100,10):
    print(f'that many {i}: ')
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f'model accuracy on test set: {clf.score(X_test, y_test) * 100:2f}%')
    print("")

that many 10:
model accuracy on test set: 81.318681%

that many 20:
model accuracy on test set: 80.219780%

that many 30:
model accuracy on test set: 83.516484%

that many 40:
model accuracy on test set: 85.714286%

that many 50:
model accuracy on test set: 84.615385%

that many 60:
model accuracy on test set: 84.615385%

that many 70:
model accuracy on test set: 85.714286%

that many 80:
model accuracy on test set: 81.318681%

that many 90:
model accuracy on test set: 82.417582%

## 6. Save the model and load it

In [41]:
import pickle 

pickle.dump(clf, open('random_forest_model_1.pkl', 'wb'))

In [42]:
loaded_model = pickle.load(open('random_forest_model_1.pkl', 'rb'))

In [44]:
loaded_model.score(X_test, y_test)

0.8241758241758241